
$main_bg: #140e4e;
$secondary_bg: #3a227c;
$main_fnt: Helvetica;
$main_fnt_clr: #a0a0a0;
$unit_fnt_clr: #b8aeae96;


header { 
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 125%;
    color: white;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

.logo {
    @extend header;
}

h1 {
    padding: 15px;
}

body {
    background-color: $main_bg;
    font-family: $main_fnt_clr;
    color: $main_fnt_clr;
    text-align: center;
}

footer {
    background-color: $main_bg;
    font-family: $main_fnt_clr;
    color: $main_fnt_clr;
    text-align: center;
}

.default_weather {
    background-color: $main_bg;
    font-family: $main_fnt;
    font-size: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.unit {
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 100%;
    color: $unit_fnt_clr;
    text-align: left;
}

.location {
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 150%;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 5px rgb(71, 71, 75);
    width: 50%;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    float: center;
    padding: 10px;
}

.conditions {
    @extend .location;
    font-size: 125%;
    color: white;
    text-align: center;
    height: 155px;
    padding-top: 25px;
}

.days {
    background-color: $main_bg;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.day {
    background-color: $secondary_bg;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 5px rgb(71, 71, 75);
    width: 150px;
    margin-left: 3%;
    margin-right: 3%;
}

.smallfont {
    background-color: $secondary_bg;
    font-family: $main_fnt_clr;
    font-size: 75%;
    color: $main_fnt_clr;
    text-align: center;
}

.temp {
    font-size: 350%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    width: 50%;
    height: 30px;
}

.round {
    width: 65%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: center;
    top: 0;
    left: 0;
    text-align: center;
}

.corner {
    top: 3px;
    left: 5px;
    height: 27px;
    width: 55px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: white;
    text-align: center;
}

.default {
    width: 150px;
    height: 7%;
    top: 3px;
    left: 5px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: white;
    text-align: center;
}

@media (max-width: 800px) {
    header {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .temp {
        font-size: 225%;
    }

    .default {
        width: 40%;
        font-size: 40%;
    }

    .location {
        width: 100%;
    }

    .search {
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        height: 20px;
    }
    
    .round {
        width: 60%;
        border-radius: 15px;
        border: 1px #000 solid;
        position: center;
        top: 0;
        left: 0;
        text-align: center;
        float: left;
    }

    .corner {
        float: left;
    }

    .days {
        background-color: $main_bg;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    
    .day {
        background-color: $secondary_bg;
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 5px 5px rgb(71, 71, 75);
        width: 150px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20px;
    }
}
