
$main_bg: #140e4e;
$secondary_bg: #5a405a;
$main_fnt: Helvetica;
$main_fnt_clr: #a0a0a0;
$unit_fnt_clr: #b8aeae96;

header { 
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 125%;
    color: white;
    text-align: left;
    margin: 10px;
}

h1 {
    padding: 15px;
}

body {
    background-color: $main_bg;
    font-family: $main_fnt_clr;
    color: $main_fnt_clr;
    text-align: center;
}

footer {
    background-color: $main_bg;
    font-family: $main_fnt_clr;
    color: $main_fnt_clr;
    text-align: center;
}

.default_weather {
    background-color: $main_bg;
    font-family: $main_fnt;
    font-size: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.unit {
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 100%;
    color: $unit_fnt_clr;
    text-align: left;
}

.location {
    background-color: $secondary_bg;
    font-family: $main_fnt;
    font-size: 150%;
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 5px rgb(32, 39, 133);
    width: 350px;
    height: 30%;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
    padding: 10px;
}

.conditions {
    @extend .location;
    font-size: 125%;
    color: white;
    text-align: left;
    width: 275px;
    height: 40%;
}

.smallfont {
    background-color: $secondary_bg;
    font-family: $main_fnt_clr;
    font-size: 75%;
    color: $main_fnt_clr;
    text-align: center;
}

.temp {
    font-size: 350%;
}

.search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.round {
    width: 65%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: center;
    top: 0;
    left: 0;
    text-align: center;
}

.corner {
    top: 3px;
    left: 5px;
    height: 27px;
    width: 55px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: white;
    text-align: center;
}

.search {
    position: relative;
    width: 500px;
    height: 30px;
}

.default {
    @extend .corner;
    width: 45%;
    height: 5%;
}